html, body {
    font-family: "Courier New", monospace;
    background-color:rgb(23, 21, 21);
}

h1 {
    display:inline-block;
    color:whitesmoke;
    font-weight:200;
}

p {
    color:whitesmoke;
}

.header_line {
    width:138%;
    border-color:grey;
    margin-left:-8%;
}

#main_page {
    margin-left:5%;
    margin-top:5%;
}